@using Newtonsoft.Json;
@model TestNetCore.Models.Files.Crud.CrudViewModel
@{
    ViewData["Title"] = "CRUD";
    Layout = "~/Views/Shared/_LayoutCabinet.cshtml";
}


<form asp-controller="Crud" asp-action="Crud"
      id="Crud"
      method="post" enctype="multipart/form-data"
      class="col-md-12">
    @Html.AntiForgeryToken()
    <h2 id="">CRUD операции с файлами. Страница в стадии разработки</h2>
    <p>Основные действия с файлами на сервере(для примера, поработаем с текстовыми файлами) - создание(Create), чтение(Read), изменение(Update), удаление(Delete)</p>

    <div class="row asRow">
        <h4>Создайте текстовый файл или загрузите существующий файл любого текстового формата</h4>
        <div class="boxButton">
            @*<div id="btnCreate" class="defaultStyleButton" onclick="return createFile('createFile')">Создать файл</div>*@
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Создать файл</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                        </div>
                        <div class="modal-body">
                            @*<form>*@
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Recipient:</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Message:</label>
                                    <textarea class="form-control" id="message-text"></textarea>
                                </div>
                            @*</form>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="chooseFile" class="file_upload defaultStyleButton">
                <button type="button" id="uploadBtn" onclick="return uploadFiles('uploadFiles')">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    <span id="download">Загрузить</span>
                </button>
                <div id="fileName" style="margin-top: 5px;">Файл не выбран</div>
                <input type="file" name="files" id="files" accept="text/*" />
                <button type="submit" id="pushFile" class="display-none uploadFile">Button</button>
            </div>
        </div>
        <div class="boxFiles">
            @if (Model.CountFiles == 0)
            {
                <p>Еще не создано/загружено ни одного файла. Самое время приступать!</p>
            }
            else if (Model.CountFiles == 1)
            {
                <p>Информация о первом файле: </p>
                <p>Название: @Model.FileName1 Размер: @Model.FileSize1</p>
            }
            else if (Model.CountFiles == 2)
            {
                <p>Информация о первом файле: </p>
                <p>Название: @Model.FileName1 Размер: @Model.FileSize1</p>
                <p>Информация о втором файле: </p>
                <p>Название: @Model.FileName2 Размер: @Model.FileSize2</p>
            }
        </div>
    </div> 

    <p>Кстати, больше информации обо мне - в моем резюме, можете скачать)</p>
    <a asp-controller="Crud" is-active-route asp-action="GetResume"
       id="downloadResume"
       class="defaultStyleButton"
       style="margin-top: 25px;">
        <i class="fa fa-floppy-o" aria-hidden="true" id="save"></i>
        <span id="downloadResumeText">Загрузить моё резюме</span>
    </a>

    <hr />




    <input type="hidden" asp-for="PostType" id="PostType" />
    <input type="hidden" asp-for="TypeUploadFile" id="TypeUploadFile" />

</form>


    <script>
        function uploadFiles(val) {
            $("#PostType").val(val);
            $("button.uploadImg").click();
            return true;
        }

        function createFile(val) {
            $("#PostType").val(val);

        }

        // ADD FILES
        var wrapper = $(".file_upload"),
            inp = wrapper.find("input"),
            btn = wrapper.find("button#uploadBtn"),
            push = wrapper.find("button#pushFile"),
            lbl = wrapper.find("div#fileName");
        btn.focus(function () {
            wrapper.addClass("focus");
        }).blur(function () {
            wrapper.removeClass("focus");
        });
        btn.add(lbl).click(function () {
            inp.click();
        });
        var file_api = (window.File && window.FileReader && window.FileList && window.Blob) ? true : false;
        inp.change(function () {
            var file_name;
            if (file_api && inp[0].files[0])
                file_name = inp[0].files[0].name;
            else
                file_name = inp.val().replace("C:\\somepath\\", '');
            if (!file_name.length)
                return;
            if (lbl.is(":visible")) {
                lbl.text(file_name);
                btn.text("Загрузка файла");
            } else
                btn.text(file_name);
            // for Get Type file
            var file = $("#files")[0].files[0],
                ext = "не определилось",
                parts = file.type.split('/');
            if (parts.length > 1) ext = parts.shift();
            console.log("MIME тип: ", ext);
            $("#TypeUploadFile").val(ext);

            push.click();
        }).change();


        function createFile() {
            var token = $('input[name="__RequestVerificationToken"]', $('#Crud')).val();
            var myData = { name: fileName };
            var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });
            $.ajax({
                url: "/Crud/CreateFile",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (data) {
                    console.log("data: ", data);
                }
            });
        }
    </script>
