@model TestNetCore.Models.Files.Gallery.GalleryViewModel
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_LayoutCabinet.cshtml";
}

<link rel="stylesheet" href="~/css/animate.min.css">
<link rel="stylesheet" href="~/css/jquery-ui.min.css">
<link rel="stylesheet" href="~/css/txt.wav.css">
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/jscolor.js"></script>

<script>
    var galleryVisible = @Html.Raw(Model.GalleryVisible).ToString().ToLower(),
        selectGalleryBox = "@Html.Raw(Model.SelectGalleryBox)",
        imageGalleryCount = @Html.Raw(Model.ImageGalleryCount),
        soundGalleryCount = @Html.Raw(Model.SoundGalleryCount),
        imageUploadCount = @Html.Raw(Model.ImageUploadCount),
        soundUploadCount = @Html.Raw(Model.SoundUploadCount),
        imageName = "@Html.Raw(Model.NameImage)",
        soundName = "@Html.Raw(Model.NameSound)",
        pathSound = "@Html.Raw(Model.PathSound)",
        animationDuration = @Model.AnimationDuration + "000",
        soundVolume = @Html.Raw(Model.SoundVolume) / 100,
        startEffectAnimationImg = "@Html.Raw(Model.StartEffectAnimation)",
        finishEffectAnimationImg = "@Html.Raw(Model.FinishEffectAnimation)";
</script>

<form asp-controller="Gallery" asp-action="Gallery"
      id="Gallery"
      method="post" enctype="multipart/form-data"
      class="col-md-12">
    @Html.AntiForgeryToken()
    <div class="page-block">
        <h2>Моя галерея</h2>
        <h4>Это демонстрация мини-виджета с сохранением настроек в БД и, собственно, моей галереи, написанной с нуля</h4>
        <p class="m-b-20">
            Зайти в галерею можете кликнув по названию изображения или звукового файла.
            В ней можете загрузить свой файл изображения/аудио и нажмите Принять. Можете изменить и другие доступные настройки.
            Не забудьте нажать кнопку Сохранить настройки. А теперь жмите Запуск анимации!
        </p>
        <div class="form-group">
            <label class="col-md-3 control-label" for="bgColorBoxInput" id="bgcolor">Цвет фона:</label>
            <div class="col-md-9">
                <input asp-for="@Model.BgBox"
                       value="@Model.BgBox"
                       id="bgColorBoxInput"
                       class="jscolor {position:'right',
                            borderColor:'#FFF #666 #666 #FFF',
                            insetColor:'#666 #FFF #FFF #666',
                            backgroundColor:'#CCC'}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="animationDurationInput" id="duration">Продолжительность:</label>
            <div class="col-md-9">
                <div class="range-box line-h-26">
                    <div id="animationDurationRange" class="range50"></div>
                    <input asp-for="@Model.AnimationDuration"
                           id="animationDurationInput"
                           class="input-control mar-left10 width60" />
                    <span class="mar-left5">сек.</span>
                </div>
            </div>
        </div>

        <div class="form-group" id="boxChooseImage">
            <label class="col-md-3 control-label" for="chooseImg" id="labelChooseImg">Выбор изображения:</label>
            <div class="col-md-9">
                <a id="btnChooseImage" class="defaultColor styleMessageFont">
                    <span class="glyphicon glyphicon-picture"></span>
                    <span id="nameChoosenImage">@Model.NameImage</span>
                </a>
            </div>
        </div>

        <div class="form-group" id="boxAnimateImage">
            <label class="col-md-3 control-label" id="animpicture2">Анимация изображения:</label>
            <div class="col-md-9">
                <div class="flex">
                    <div class="styleSelect">
                        <p></p>
                        <select asp-for="@Model.StartEffectAnimation"
                                id="startEffectAnimation" class="input inputStartAnimation">
                            <optgroup label="Bouncing Entrances">
                                <option value="bounceIn">bounceIn</option>
                                <option value="bounceInDown">bounceInDown</option>
                                <option value="bounceInLeft">bounceInLeft</option>
                                <option value="bounceInRight">bounceInRight</option>
                                <option value="bounceInUp">bounceInUp</option>
                            </optgroup>
                            <optgroup label="Fading Entrances">
                                <option value="fadeIn">fadeIn</option>
                                <option value="fadeInDown">fadeInDown</option>
                                <option value="fadeInDownBig">fadeInDownBig</option>
                                <option value="fadeInLeft" selected>fadeInLeft</option>
                                <option value="fadeInLeftBig">fadeInLeftBig</option>
                                <option value="fadeInRight">fadeInRight</option>
                                <option value="fadeInRightBig">fadeInRightBig</option>
                                <option value="fadeInUp">fadeInUp</option>
                                <option value="fadeInUpBig">fadeInUpBig</option>
                            </optgroup>
                            <optgroup label="Flippers">
                                <option value="flipInX">flipInX</option>
                                <option value="flipInY">flipInY</option>
                            </optgroup>
                            <optgroup label="Lightspeed">
                                <option value="lightSpeedIn">lightSpeedIn</option>
                            </optgroup>
                            <optgroup label="Rotating Entrances">
                                <option value="rotateIn">rotateIn</option>
                                <option value="rotateInDownLeft">rotateInDownLeft</option>
                                <option value="rotateInDownRight">rotateInDownRight</option>
                                <option value="rotateInUpLeft">rotateInUpLeft</option>
                                <option value="rotateInUpRight">rotateInUpRight</option>
                            </optgroup>
                            <optgroup label="Sliding Entrances">
                                <option value="slideInUp">slideInUp</option>
                                <option value="slideInDown">slideInDown</option>
                                <option value="slideInLeft">slideInLeft</option>
                                <option value="slideInRight">slideInRight</option>

                            </optgroup>
                            <optgroup label="Zoom Entrances">
                                <option value="zoomIn">zoomIn</option>
                                <option value="zoomInDown">zoomInDown</option>
                                <option value="zoomInLeft">zoomInLeft</option>
                                <option value="zoomInRight">zoomInRight</option>
                                <option value="zoomInUp">zoomInUp</option>
                            </optgroup>
                            <optgroup label="Specials">
                                <option value="hinge">hinge</option>
                                <option value="jackInTheBox">jackInTheBox</option>
                                <option value="rollIn">rollIn</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="styleSelect mar-left20">
                        <p></p>
                        <select asp-for="@Model.FinishEffectAnimation"
                                id="finishEffectAnimation"
                                class="input inputfinishAnimation">
                            <optgroup label="Bouncing Exits">
                                <option value="bounceOut">bounceOut</option>
                                <option value="bounceOutDown">bounceOutDown</option>
                                <option value="bounceOutLeft">bounceOutLeft</option>
                                <option value="bounceOutRight">bounceOutRight</option>
                                <option value="bounceOutUp">bounceOutUp</option>
                            </optgroup>
                            <optgroup label="Fading Exits">
                                <option value="fadeOut">fadeOut</option>
                                <option value="fadeOutDown">fadeOutDown</option>
                                <option value="fadeOutDownBig">fadeOutDownBig</option>
                                <option value="fadeOutLeft">fadeOutLeft</option>
                                <option value="fadeOutLeftBig">fadeOutLeftBig</option>
                                <option value="fadeOutRight" selected>fadeOutRight</option>
                                <option value="fadeOutRightBig">fadeOutRightBig</option>
                                <option value="fadeOutUp">fadeOutUp</option>
                                <option value="fadeOutUpBig">fadeOutUpBig</option>
                            </optgroup>
                            <optgroup label="Flippers">
                                <option value="flipOutX">flipOutX</option>
                                <option value="flipOutY">flipOutY</option>
                            </optgroup>
                            <optgroup label="Lightspeed">
                                <option value="lightSpeedOut">lightSpeedOut</option>
                            </optgroup>
                            <optgroup label="Rotating Exits">
                                <option value="rotateOut">rotateOut</option>
                                <option value="rotateOutDownLeft">rotateOutDownLeft</option>
                                <option value="rotateOutDownRight">rotateOutDownRight</option>
                                <option value="rotateOutUpLeft">rotateOutUpLeft</option>
                                <option value="rotateOutUpRight">rotateOutUpRight</option>
                            </optgroup>
                            <optgroup label="Sliding Exits">
                                <option value="slideOutUp">slideOutUp</option>
                                <option value="slideOutDown">slideOutDown</option>
                                <option value="slideOutLeft">slideOutLeft</option>
                                <option value="slideOutRight">slideOutRight</option>
                            </optgroup>
                            <optgroup label="Zoom Exits">
                                <option value="zoomOut">zoomOut</option>
                                <option value="zoomOutDown">zoomOutDown</option>
                                <option value="zoomOutLeft">zoomOutLeft</option>
                                <option value="zoomOutRight">zoomOutRight</option>
                                <option value="zoomOutUp">zoomOutUp</option>
                            </optgroup>
                            <optgroup label="Specials">
                                <option value="hinge">hinge</option>
                                <option value="jackInTheBox">jackInTheBox</option>
                                <option value="rollOut">rollOut</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" id="boxChooseSound">
            <label class="col-md-3 control-label" id="labelChooseMelody">Выберите мелодию:</label>
            <div class="col-md-9">
                <a id="btnChooseSound" class="defaultColor styleMessageFont">
                    <span class="glyphicon glyphicon-volume-up" style="top: 3px;"></span>
                    <span id="nameChoosenSound">@Model.NameSound</span>
                </a>
            </div>
        </div>

        <div class="form-group" id="boxSoundVolume">
            <label class="col-md-3 control-label" for="soundVolumeInput" id="loud">Громкость мелодии:</label>
            <div class="col-md-9">
                <div class="range-box line-h-26">
                    <div id="soundVolumeRange" class="range50"></div>
                    <input asp-for="@Model.SoundVolume"
                           id="soundVolumeInput"
                           class="input-control mar-left10 width60" />
                    <span class="mar-left5">%</span>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button id="saveSettingsAlertDonation"
                    onclick="return saveSettings('saveSettings')"
                    class="defaultStyleButton"
                    style="margin-top: 25px;">
                <i class="fa fa-floppy-o" aria-hidden="true" id="save"></i>
                <span id="btnSaveSet">Сохранить настройки</span>
            </button>
            <button type="submit" class="display-none saveSettings"></button>
            <a onclick="return runTestAnimation()"
               class="launch defaultStyleButton" id="animationOn">
                <span class="glyphicon glyphicon-play-circle"></span> <span id="runAnimation">Запуск анимации</span>
            </a>
        </div>

        <h4>Превью:</h4>
        <div class="form-group">
            <button id="startTriggerAnimation" class="sm-btn ripple-top" style="display: none;">Появление</button>
            <div id="previewBox" class="col-md-10 col-md-offset-1" style="background-color: #@Model.BgBox; height:500px;">
                <img src="@Model.PathImage"
                     id="animationExample"
                     title="@Model.NameImage"
                     style="display: none; width: 250px; height: 200px;" />
            </div>
            <button id="endTriggerAnimation" class="sm-btn ripple-top" style="display: none;">Исчезание</button>
        </div>

        @if (Model.VerifyChanges)
        {
            <div id="alertSave" class="alertMsg" style="display: block">
                Ваши настройки успешно сохранены.
            </div>
        }
        <div id="overlay"></div>

        @*По неизвестным мне причинам галерея через тег-хелпер не раьотает на продакшене, хотя локально работает круто и без ошибок, поэтому закинул рабочий вариант напрямую, без тег-хелпера ниже*@
        @*<gallerytop gallery-img-items="@Model.GalleryItemImgs"
                    gallery-sound-items="@Model.GalleryItemSounds"
                    upload-img-items="@Model.UploadItemImgs"
                    upload-sound-items="@Model.UploadItemSounds">
        </gallerytop>*@

        <div id="modalGallery">
            <div id="boxGallery">
                <h3 id="mgallery">Медиа галерея</h3>
                <div class="col-md-3 text-left">

                    <div>
                        <span class="gallery-title" id="mydownloads">Мои загрузки</span>
                    </div>
                    <ul class="gallery__list">
                        <li>
                            <a id="imgUpload">
                                <span class="glyphicon glyphicon-picture"></span>
                                <span class="mar-left10" id="pictures">Изображения</span>
                            </a>
                        </li>
                        <li>
                            <a id="soundUpload">
                                <span class="glyphicon glyphicon-music"></span>
                                <span class="mar-left10" id="sounds">Звуки</span>
                            </a>
                        </li>
                    </ul>

                    <div>
                        <span class="gallery-title">Галерея</span>
                    </div>
                    <ul class="gallery__list">
                        <li>
                            <a id="imgGallery">
                                <span class="glyphicon glyphicon-picture"></span>
                                <span class="mar-left10" id="pictures1">Изображения</span>
                            </a>
                        </li>
                        <li>
                            <a id="soundGallery">
                                <span class="glyphicon glyphicon-music"></span>
                                <span class="mar-left10">Звуки</span>
                            </a>
                        </li>
                    </ul>

                    <div class="file_upload" id="chooseImg">
                        <button type="button" id="uploadBtn" onclick="return uploadFiles('uploadFiles')">
                            <span class="glyphicon glyphicon-cloud-upload"></span>
                            <span id="download">Загрузить</span>
                        </button>
                        <div id="fileName" style="margin-top: 5px;">Файл не выбран</div>
                        <input type="file" name="files" id="files" accept="image/*, audio/*" />
                        <button type="submit" id="pushFile" class="display-none uploadFile">Button</button>
                    </div>

                    <div class="galleryClose">
                        <span id="modal_ok" class="defaultStyleButton">Принять</span>
                        <span id="modal_cancel" class="defaultStyleButton">Отмена</span>
                    </div>
                </div>
                <div id="modalGalleryContent" class="col-md-9">
                    <ul id="imgGalleryContainer" class="galleryList images">
                        @foreach (var dataFile in Model.GalleryItemImgs)
                        {
                            <li onclick="return getImgName('@dataFile.FileName', 'galleryImg')">
                                <div class="imgBoxBg"
                                     style="background-image: url('../gallery/galleryImg/@dataFile.FileName');"></div>
                                <div class="boxFooter">
                                    <div class="boxFooter__FileName">@dataFile.FileName</div>
                                    <div class="boxFooter__Panel">
                                        <div class="size">@dataFile.Size</div>
                                        <div class="zoomImgGallery">
                                            <a href="../gallery/galleryImg/@dataFile.FileName" target="_blank">
                                                <span class="glyphicon glyphicon-zoom-in"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                    <ul id="soundGalleryContainer" class="galleryList sounds">
                        @foreach (var dataFile in Model.GalleryItemSounds)
                        {
                            <li onclick="return getSoundName('@dataFile.FileName', 'gallerySound')">
                                <div class="soundBoxBg">
                                    <i class="fa fa-play-circle-o playSound"
                                       onclick="playSound('../gallery/gallerySound/@dataFile.FileName', this);"></i>
                                    <i class="fa fa-stop-circle-o stopSound"
                                       onclick="stopSound();"></i>
                                </div>
                                <div class="boxFooter">
                                    <div class="boxFooter__FileName">@dataFile.FileName</div>
                                    <div class="boxFooter__Panel">
                                        <div class="size">@dataFile.Size</div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                    <ul id="imgUploadContainer" class="galleryList images">
                        @if (Model.ImageGalleryCount > 0)
                        {
                            foreach (var dataFile in Model.UploadItemImgs)
                            {
                                <li onclick="return getImgName('@dataFile.FileName', 'uploadImg')">
                                    <div class="imgBoxBg"
                                         style="background-image: url('../gallery/uploadImg/@dataFile.UserId/@dataFile.FileName');"></div>
                                    <div class="boxFooter">
                                        <div class="boxFooter__FileName">@dataFile.FileName</div>
                                        <div class="boxFooter__Panel">
                                            <div class="size">@dataFile.Size</div>
                                            <div class="zoom">
                                                <a href="../gallery/uploadImg/@dataFile.UserId/@dataFile.FileName" target="_blank">
                                                    <span class="glyphicon glyphicon-zoom-in"></span>
                                                </a>
                                            </div>
                                            <div class="trash" onclick="return deleteImageById(@dataFile.Id)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <h3>
                                Ни одного изображения не загружено.<br /> Загрузите своё изображение, или воспользуйтесь готовыми вариантами из галереи.
                            </h3>
                        }
                    </ul>

                    <ul id="soundUploadContainer" class="galleryList sounds">
                        @if (Model.SoundGalleryCount > 0)
                        {
                            foreach (var dataFile in Model.UploadItemSounds)
                            {
                                <li onclick="return getSoundName('@dataFile.FileName', 'uploadSound')">
                                    <div class="soundBoxBg">
                                        <i class="fa fa-play-circle-o playSound"
                                           onclick="playSound('../gallery/uploadSound/@dataFile.UserId/@dataFile.FileName', this);"></i>
                                        <i class="fa fa-stop-circle-o stopSound"
                                           onclick="stopSound();"></i>
                                    </div>
                                    <div class="boxFooter">
                                        <div class="boxFooter__FileName">@dataFile.FileName</div>
                                        <div class="boxFooter__Panel">
                                            <div class="size">@dataFile.Size</div>
                                            <div class="trash" onclick="return deleteSoundById(@dataFile.Id)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <h3>
                                Ни одной мелодии не загружено.<br /> Загрузите свою мелодию, или воспользуйтесь готовыми вариантами из галереи.
                            </h3>
                        }
                    </ul>
                </div>
            </div>
        </div>


        <input type="hidden" asp-for="LayoutMessage" id="LayoutMessage" />
        <input type="hidden" asp-for="PostType" id="PostType" />
        <input type="hidden" asp-for="GalleryVisible" id="GalleryVisible" />
        <input type="hidden" asp-for="SelectGalleryBox" id="SelectGalleryBox" />
        <input type="hidden" asp-for="SelectImageSource" id="SelectImageSource" />
        <input type="hidden" asp-for="SelectSoundSource" id="SelectSoundSource" />
        <input type="hidden" asp-for="IdForDeletionImage" id="IdForDeletionImage" />
        <input type="hidden" asp-for="IdForDeletionSound" id="IdForDeletionSound" />
        <input type="hidden" asp-for="TypeUploadFile" id="TypeUploadFile" />
        <input type="hidden" asp-for="NameImage" id="NameImageDon" />
        <input type="hidden" asp-for="NameSound" id="NameSoundDon" />
        <input type="hidden" asp-for="NewNameImage" id="NewNameImageDon" />
        <input type="hidden" asp-for="NewNameSound" id="NewNameSoundDon" />
        <input type="hidden" asp-for="PathImage" id="PathImageDon" />
        <input type="hidden" asp-for="PathSound" id="PathSoundDon" />
        <input type="hidden" asp-for="VerifyChanges" id="verify" />
    </div>
</form>
<script src="~/js/myGallery.js"></script>
<script>
    function runTestAnimation() {
        gifAnimation();
        runSound(pathSound);
    } 

    function runSound(pathSound) {
        $("body").append(
            '<audio class="sound-player" id="rington" autoplay="autoplay" style="display:none;" src="' + pathSound + '"></audio>');
        var aud = document.getElementById("rington");
        aud.volume = soundVolume;
        $('#rington').on('ended',
            function () {
                $("#rington").remove();
            });
    }

    function gifAnimation() {
        function startGifAnimation() {
            $("#animationExample").css({ display: "block", top: gifYBanner, left: gifXBanner });
            $("#animationExample").animate({
                //top: gifYBanner,
                //left: gifXBanner
                top: 100,
                left:500
            }, 2000);
            
            startImgAnim(startEffectAnimationImg);
        }
        function endGifAnimation() {
            endImgAnim(finishEffectAnimationImg);
        }

        startGifAnimation();
        setTimeout(endGifAnimation, animationDuration);
    }

    function startImgAnim(x) {
        $('#animationExample').removeClass().addClass(x + ' animated').one(
            'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
            function () {
                $(this).removeClass();
            });
    };

    function endImgAnim(x) {
        $('#animationExample').removeClass().addClass(x + ' animated').one(
            'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
            function () {
                $(this).removeClass().css("display", "none");
            });
    };


    function saveSettings(val) {
        $('#imgGalleryContainer, #soundGalleryContainer, #imgUploadContainer, #soundUploadContainer').css('display', 'none');
        $("#PostType").val(val);
        $("#SelectGalleryBox").val("");
        $("button.saveSettings").click();
        return true;
    }
    function uploadFiles(val) {
        $("#PostType").val(val);
        $("button.uploadImg").click();
        return true;
    }
    // for DELETE img
    function deleteImageById(id) {
        $("#IdForDeletionImage").val(id);
        $("#PostType").val("deleteFiles");
        $("#pushFile").click();
    }
    function deleteSoundById(id) {
        $("#IdForDeletionSound").val(id);
        $("#PostType").val("deleteFiles");
        $("#pushFile").click();
    }        
    

    setInterval(function () {
        $("#alertSave").css("display", "none");
    }, 4 * 1000);

    // Animation
    var widthBox = parseInt($("#previewBox").css("width")),
        heightBox = parseInt($("#previewBox").css("height")),
        centerX = widthBox / 2,
        centerY = heightBox / 2,
        widthGif = parseInt($("#animationExample").css("width")),
        heightGif = parseInt($("#animationExample").css("height")),
        gifXBanner = centerX - widthGif / 2,
        gifYBanner = centerY - heightGif / 2;


    $('#startEffectAnimation').each(function () {
        $(this).siblings('p').text($(this).children().children('option:selected').text());
    }).change(function () {
        $(this).siblings('p').text($(this).children().children('option:selected').text());
    });

    $('#finishEffectAnimation').each(function () {
        $(this).siblings('p').text($(this).children().children('option:selected').text());
    }).change(function () {
        $(this).siblings('p').text($(this).children().children('option:selected').text());
    });
    

    $("#animationDurationRange").slider({
        range: "min",
        value: parseInt("@Model.AnimationDuration"),
        step: 1,
        min: 2,
        max: 60,
        slide: function( event, ui ) {
            $( "#animationDurationInput" ).val( ui.value );
            var value = $("#animationDurationInput").val();
            $("#animationDurationRange").slider("value", value);
        }
    });
    $("#animationDurationInput").change(function () {
        var n=/\d{6}\s+~/g;
        var value = this.value.replace(n, "");
        $("#animationDurationRange").slider("value", parseInt(value));
    });


    $("#soundVolumeRange").slider({
        range: "min",
        value: parseInt("@Model.SoundVolume"),
        step: 1,
        min: 0,
        max: 100,
        slide: function( event, ui ) {
            $( "#soundVolumeInput" ).val( ui.value );
            var value = $("#soundVolumeInput").val();
            $("#soundVolumeRange").slider("value", value);
        }
    });
    $("#soundVolumeInput").change(function () {
        var n=/\d{6}\s+~/g;
        var value = this.value.replace(n, "");
        $("#soundVolumeRange").slider("value", parseInt(value));
    });

</script>
