@using TestNetCore.Models.EFViewModels
@using Newtonsoft.Json;
@using TestNetCore.Data.TableData;
@model TestNetCore.Models.EFViewModels.SortViewModel
@addTagHelper "*, TestNetCore"
@{
    ViewData["Title"] = "Список пользователей";
    Layout = "~/Views/Shared/_LayoutCabinet.cshtml";
}

<link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
<link href="~/lib/syncfusion-javascript/Content/ej/web/responsive-css/ej.responsive.css" rel="stylesheet" />
<script src="~/lib/jsrender/jsrender.min.js"></script>
<script src="~/lib/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>
<script type="text/javascript" src="~/js/Languages/localizer.js"></script>

<div id="Settings1">
    <div class="col-md-12">
        <div class="page-block">
            <h2>Список пользователей</h2>
            <table class="table">
                <tr>
                    @*<th>
                            <a asp-action="EntitySort" asp-route-sortOrder="@ViewBag.NameSort">Имя</a>
                        </th>
                        <th>
                            <a asp-action="EntitySort" asp-route-sortOrder="@ViewBag.AgeSort">Возраст</a>
                        </th>
                        <th>
                            <a asp-action="EntitySort" asp-route-sortOrder="@ViewBag.CompSort">Компания</a>
                        </th>*@
                    <th>
                        <sort-header action="EntitySort" up="@Model.SortUserViewModel.Up"
                                     current="@Model.SortUserViewModel.Current" property="@Model.SortUserViewModel.NameSort">
                            Имя
                        </sort-header>
                    </th>
                    <th>
                        <sort-header action="EntitySort" up="@Model.SortUserViewModel.Up"
                                     current="@Model.SortUserViewModel.Current" property="@Model.SortUserViewModel.AgeSort">
                            Возраст
                        </sort-header>
                    </th>
                    <th>
                        <sort-header action="EntitySort" up="@Model.SortUserViewModel.Up"
                                     current="@Model.SortUserViewModel.Current" property="@Model.SortUserViewModel.CompanySort">
                            Компания
                        </sort-header>
                    </th>
                </tr>
                @foreach (UserSort u in Model.SortList)
                {
                    <tr><td>@u.Name</td><td>@u.Age</td><td>@u.Company.Name</td></tr>
                }
            </table>
        </div>
    </div>
</div>
